<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="description" content="{{ pageDescription }}">
  </head>
  <body class="flex flex-col min-h-screen">
    <div class="flex-1">
      {% block %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
  </body>
</html>
